div.code {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
body {
    padding-top: 56px;
    overflow-x: hidden; /* Hide scrollbars */
}
.navbar {
    margin-bottom: 20px;
}
.content {
    margin: 20px;
}
img.vault {
    max-width: auto;
    height: 25em;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
.custom {
    margin: 0; padding: 0;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
