div.code {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
body {
    background-color: #353E43;
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding-top: 56px;
    overflow-x: hidden !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #353E43;
  color: white;
  text-align: center;
  padding: 10px;
}
.navbar {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-link {
color: #ffffff !important;
}
.nav-link:hover {
color: #bd363a !important;
}
.nav-link.active {
color: #bd363a !important;
}
.scrollable {
    width: 100%;
    height: 700px;
    overflow-y: scroll;
}
.content {
    margin: 20px;
}
.code {
    background-color: #97a1a7;
}
code {
    color: #000000;
}
img.vault {
    max-width: auto;
    height: 15em;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
.custom {
    margin: 0; padding: 0;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
* {
    box-sizing: border-box;
}
a {
    color: #000000;
    font-weight: bold;
  }
a:hover {
    color: #ffffffbe;
    text-decoration: none;
}
